body {
  overflow-x: hidden;
  background-image: linear-gradient(#443B68, #333D71D1 82%, #200337);
  height: 100vh;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("~/static/index.png");
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, p, figure {
  margin-bottom: 0;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

th, td {
  vertical-align: center;
}

td {
  border-left: 0;
  border-right: 0;
}