$utilities: map-merge(
  $utilities,(
    "font-size": (
      property: font-size,
      class: fz,
      responsive: true,
      values: $font-sizes,
    ),
    "top": (
      property: top,
      class: top,
      responsive: true,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      class: bottom,
      responsive: true,
      values: $position-values,
    ),
    "start": (
      property: left,
      class: start,
      responsive: true,
      values: $position-values,
    ),
    "end": (
      property: right,
      class: end,
      responsive: true,
      values: $position-values,
    ),
    "z-index": (
      property: z-index,
      class: zi,
      responsive: true,
      values: (
        "n1": -1,
        9: $zindex-favorite,
      ),
    ),
    "magic-height": (
      property: height,
      class: magic-height,
      responsive: true,
      values: $magic-heights,
    ),
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"), 
          (
            4: $border-radius-xl,
          )
        )
      )
    ),
    "viewport-height": (
      property: height,
      class: vh,
      values: (
        80:  80vh,
        85:  85vh,
        100: 100vh,
      )
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        responsive: true,
      )
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"), 
          (
            10: 10%,
          )
        )
      )
    ),
  )
);